$open_Sans: "Open_Sans";
$url_Sans: "../font/font.css";
$UTM: "UTM";
$url_UTM: "../font/UTM_BryantLG.ttf";
$button_color: #b2d235;

@mixin font_face($font_family, $font_url) {
  @font-face {
    font-family: #{$font_family};
    src: url("#{$font_url}");
  }
}

@mixin cover_image($color) {
  width: auto;
  height: auto;
  object-fit: contain;
  padding: 12% 20%;
  background-color: $color;
}

@include font_face($UTM, $url_UTM);

@font-face {
  font-family: main-font;
  src: url("../font/UTM_BryantLG.ttf");
}

@keyframes slide_show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fix_hover {
  text-decoration: none;
  background-color: $button_color;
  color: white;
}

@mixin text_shadow($value) {
  -webkit-text-stroke-width: $value;
}

.main-font {
  font-family: main-font;
  font-style: normal;
  letter-spacing: -0.05em;
  color: #ffffff;
}

ul {
  list-style-type: none;
}

.text-fix {
  -webkit-text-stroke-width: 2px;
}
